* {
  margin: 0;
  padding: 0;
}

.upper {
  position: relative;
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 20px;
}
.upper .zone {
  position: relative;
  left: 30px;
  display: flex;
}
.upper .zone .logo {
  height: 4vh;
  border-radius: 50%;
  border: 3px;
  display: flex;
  justify-content: space-between;
}
.upper .zone .TL {
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}
.upper .contact {
  display: flex;
  margin-left: 19rem;
}
.upper .contact .plogo {
  height: 7vh;
  border-radius: 80%;
  border: 3px;
  display: flex;
}
.upper .contact .Textarea {
  display: block;
  padding: 2%;
  width: 184px;
}
.upper .contact .Textarea p {
  font-family: Arial, Helvetica, sans-serif;
}
.upper .contact .Textarea h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: chocolate;
  font-size: 20px;
  width: 280px;
}
.upper .profile {
  position: relative;
  background-color: black;
  border-radius: 5rem;
  height: -moz-max-content;
  height: max-content;
  margin-left: 5rem;
  margin-right: 15rem;
}
.upper .profile .user {
  display: flex;
  justify-content: space-between;
}
.upper .profile .user li {
  margin: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  list-style: none;
}
.upper .profile .user li i.fa-solid {
  color: white;
}
.upper .profile .user li i.fa-solid:hover {
  color: rgb(255, 165, 46);
  cursor: pointer;
  border-radius: 8rem;
}

.lower {
  background-image: linear-gradient(rgb(236, 43, 9), rgb(214, 75, 50));
  position: fixed;
  height: 5.5rem;
  border-radius: 4rem;
  white-space: nowrap;
}

.lower ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.lower ul li {
  display: inline-block;
  position: relative;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 300;
}

.lower ul li a {
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s;
}
.lower ul li a i.fa-solid {
  color: white;
}

.lower ul li a:hover {
  color: rgb(218, 126, 56);
}

.lower ul li ul {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.lower ul li:hover ul {
  display: block;
}

.lower ul li ul li {
  display: block;
  white-space: nowrap;
}
.lower ul li ul li a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.lower ul li ul li a {
  background-color: #f2f2f2;
  color: #333;
}

.lower ul li ul li a:hover {
  color: rgb(218, 126, 56);
  text-decoration: underline;
}

.OO {
  margin-left: 16rem;
  margin-right: 5rem;
}
.OO button {
  height: 3rem;
  width: 15rem;
  border-radius: 5rem;
  border-color: rgb(255, 174, 0);
  text-align: center;
  background-color: rgb(255, 174, 0);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  font-weight: bold;
}
.OO button:hover {
  background-color: black;
  color: white;
}/*# sourceMappingURL=design.css.map */